<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Vezi.admin </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <base href="/">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="assets/admin/owlcarousel/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/admin/tempusdominus/tempusdominus-bootstrap-4.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="assets/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assets/admin/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />

</head>

<body>
    <!-- Sidebar Start -->
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="/" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>VEZI</h3>
                </a>
                
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="assets/admin/img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa fa-table me-2"></i>Dashboard</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/users-dashboard" class="dropdown-item">Users</a>
                            <a href="/products/dashboard/" class="dropdown-item">Products</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                                class="fa-solid fa-shirt me-2"></i>Product manage</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/products/create/" class="dropdown-item">Create</a>
                            <a href="/" class="dropdown-item">Update</a>
                        </div>
                    </div>
                    <a href="/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Orders manage</a>
                    <a href="/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Reports</a>
                    <a href="/" class="nav-item nav-link"><i class="fa-solid fa-right-from-bracket me-2"></i>Log
                        out</a>

                </div>
            </nav>
        </div>
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        {{> navbar}}
        <!-- Navbar End -->
        {{{body}}}
        <!-- Footer Start -->
        {{> footer}}
        <!-- Footer End -->
    </div>
    <!-- Content End -->

    

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/adminjs/chart/chart.min.js"></script>
    <script src="assets/adminjs/easing/easing.min.js"></script>
    <script src="assets/adminjs/waypoints/waypoints.min.js"></script>
    <script src="assets/adminjs/owlcarousel/owl.carousel.min.js"></script>
    <script src="assets/adminjs/tempusdominus/js/moment.min.js"></script>
    <script src="assets/adminjs/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="assets/adminjs/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="assets/adminjs/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" type="text/javascript"></script>
    {{{_sections.scripts}}}
</body>

</html>