<div id="spinner"
    class="show position-fixed translate-middle w-50 vh-50 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">USER INFORMATION</h6>
        <div class="row mb-0">
            <h6 class="col-sm-2 text-gray">ID</h6>
            <div class="col-lg-10">
                <h6 class="mb-4">123456</h6>
            </div>
        </div>
        <div class="row mb-0">
            <h6 class="col-sm-2 text-gray">Username</h6>
            <div class="col-lg-10">
                <h6 class="mb-4">nhung1899</h6>
            </div>
        </div>
        <div class="row mb-0">
            <h6 class="col-sm-2 text-gray">Email</h6>
            <div class="col-lg-10">
                <h6 class="mb-4">nhung1899@gmail.com</h6>
            </div>
        </div>
        <div class="row mb-0">
            <h6 class="col-sm-2 text-gray">Phone number</h6>
            <div class="col-lg-10">
                <h6 class="mb-4">01234567890</h6>
            </div>
        </div>
        <div class="row mb-0">
            <h6 class="col-sm-2 text-gray">Address</h6>
            <div class="col-lg-10">
                <h6 class="mb-4">79 Au Co P.14 Q.11 TP.HCM</h6>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">LIST OF ORDERED ITEMS</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Orders ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Payment Status</th>
                        <th scope="col">Ship status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>G472630</td>
                        <td>11/10/2023</td>
                        <td>$50</td>
                        <td>Done</td>
                        <td>Done</td>
                        <td><a class="btn btn-sm btn-detail" href="/order-info">Detail</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>