<div class="main">
	<div class="container">
		<!-- BEGIN SIDEBAR & CONTENT -->
		<div class="row margin-bottom-40">
			<!-- BEGIN CONTENT -->
			<div class="col-md-12 col-sm-12">
				<h1>Checkout</h1>
				<!-- BEGIN CHECKOUT PAGE -->
				<div class="panel checkout-page accordion scrollable" id="checkout-page">
					<!-- BEGIN PAYMENT ADDRESS -->
					<div class="panel">
						<div class="panel-heading">
							<h2 class="panel-title">
								<a class="accordion-toggle">
									Delivery details
								</a>
							</h2>
						</div>
						<div id="payment-address-content" class="panel-collapse collapse in">
							<div class="panel-body row">
								<div class="col-md-6 col-sm-6">
									<h3>Your Personal Details</h3>
									<div class="form-group">
										<label for="firstname">First Name <span class="require">*</span></label>
										<input type="text" id="firstname" class="form-control">
									</div>
									<div class="form-group">
										<label for="lastname">Last Name <span class="require">*</span></label>
										<input type="text" id="lastname" class="form-control">
									</div>
									<div class="form-group">
										<label for="email">E-Mail <span class="require">*</span></label>
										<input type="text" id="email" class="form-control">
									</div>
									<div class="form-group">
										<label for="telephone">Telephone <span class="require">*</span></label>
										<input type="text" id="telephone" class="form-control">
									</div>

									
								</div>

								<div class="col-md-6 col-sm-6">
									<h3>Your Address</h3>
									<div class="form-group">
										<label for="address">Address <span class="require">*</span></label>
										<input type="text" id="address" class="form-control">
									</div>

									<h3>Shipping method</h3>
									<div class="form-group">
										<div class="radio-list">
											<label>
												<input class="form-control" type="radio" name="shipping" value="free" checked> 3-day shipping </label>
											<label>
												<input class="form-control" type="radio" name="shipping" value="local"> 1-day shipping </label>
										</div>
									</div>

								</div>
								
								<hr>
								<div id="confirm-content" class="col-md-12 panel">
									<div class="panel-body row">
										<div class="col-md-12 clearfix">
											<div class="table-wrapper-responsive">
												<table id="cart-items">


												</table>
											</div>


											<div class="checkout-total-block">
												<ul>
													<li>
														<em>Sub total</em>
														<strong class="price"><span>$</span>47.00</strong>
													</li>
													<li>
														<em>Shipping cost</em>
														<strong class="price"><span>$</span>3.00</strong>
													</li>
													<li>
														<em>Eco Tax (-2.00)</em>
														<strong class="price"><span>$</span>3.00</strong>
													</li>
													<li>
														<em>VAT (17.5%)</em>
														<strong class="price"><span>$</span>3.00</strong>
													</li>
													<li class="checkout-total-price">
														<em>Total</em>
														<strong class="price"><span>$</span>56.00</strong>
													</li>
												</ul>
											</div>


											<div class="clearfix"></div>
										</div>
									</div>


								</div>
								<hr>

								<div class="col-md-12">
									<button class="btn btn-primary  pull-right" type="submit" data-toggle="collapse"
										data-parent="#checkout-page" data-target="#shipping-address-content"
										id="button-payment-address">Continue</button>
									<div class="checkbox pull-right">
										<label>
											<input type="checkbox"> I have read and agree to the <a title="Privacy Policy"
												href="javascript:;">Privacy Policy</a> &nbsp;&nbsp;&nbsp;
										</label>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<!-- END PAYMENT ADDRESS -->

				</div>
				<!-- END CHECKOUT PAGE -->
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END SIDEBAR & CONTENT -->
	</div>
</div>

{{#section "scripts"}}

<script type="text/javascript">

	const loadCart = async () => {
		const cartHtml = document.querySelector('#cart-items');
		cartHtml.innerHTML = 
		`<tr>
			<th class="checkout-image">Image</th>
			<th class="checkout-model">Model</th>
			<th class="checkout-quantity">Quantity</th>
			<th class="checkout-price">Price</th>
			<th class="checkout-total">Total</th>
		</tr>`;

		const cartItemHtml = await fetch('./assets/checkoutItem.html')
		const cartItemTemplateSrc = await cartItemHtml.text();
		const cartTemplate = Handlebars.compile(cartItemTemplateSrc);
		let shippingCost = 3;
		
		cart.item.map(item => {
			console.log(item);
			cartHtml.innerHTML += cartTemplate(item);
		});

		document.querySelector('#total-order').innerHTML = `$${cart.total}`;
		let total = cart.total + shippingCost;
		document.querySelector('#total').innerHTML = `$${total}`;
	}

	document.addEventListener('cartLoaded', () => {
		if(cart.item.length > 0)
			loadCart();
		else {
			const cartHtml = document.querySelector('#cart-items');
			cartHtml.innerHTML =
			`<h1>
				Your cart is empty....
				<br>How did you end up here?
				<br>Go back to the <a href="/home">home page</a> and start shopping!
			</h1>`
		}
	});

</script>
{{/section}}