  <!-- BEGIN TOP BAR -->
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <!-- BEGIN TOP BAR LEFT PART -->
        <div class="col-md-6 col-sm-6 additional-shop-info">
          <ul class="list-unstyled list-inline">
            <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
            <!-- BEGIN CURRENCIES -->
            <li class="shop-currencies">
              <a href="javascript:void(0);">€</a>
              <a href="javascript:void(0);">£</a>
              <a href="javascript:void(0);" class="current">$</a>
            </li>
            <!-- END CURRENCIES -->
            <!-- BEGIN LANGS -->
            <li class="langs-block">
              <a href="javascript:void(0);" class="current">English </a>
              <div class="langs-block-others-wrapper">
                <div class="langs-block-others">
                  <a href="javascript:void(0);">French</a>
                  <a href="javascript:void(0);">Germany</a>
                  <a href="javascript:void(0);">Turkish</a>
                </div>
              </div>
            </li>
            <!-- END LANGS -->
          </ul>
        </div>
        <!-- END TOP BAR LEFT PART -->
        <!-- BEGIN TOP BAR MENU -->
        <div class="col-md-6 col-sm-6 additional-nav">
          <ul class="list-unstyled list-inline pull-right">
            <li><a href="#">My Account</a></li>
            <li><a href="/mywishlist">My Wishlist</a></li>
            <li><a href="#">Checkout</a></li>
            <li><a href="#">Log In</a></li>
          </ul>
        </div>
        <!-- END TOP BAR MENU -->
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->

  <!-- BEGIN HEADER -->
  <div class="header">
    <div class="container">
      <a class="site-logo" href="/home"><img src="assets/corporate/img/logos/logo-shop-red.png"
          alt="Metronic Shop UI"></a>

      <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

      <!-- BEGIN CART -->
      <div class="top-cart-block">
        <div class="top-cart-info">
          <a href="javascript:void(0);" class="top-cart-info-count">3 items</a>
          <a href="javascript:void(0);" class="top-cart-info-value">$1260</a>
        </div>
        <i class="fa fa-shopping-cart"></i>

        <div class="top-cart-content-wrapper">
          <div class="top-cart-content">
            <ul class="scroller" style="height: 250px;">
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="/product-detail"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="/product-detail">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
            </ul>
            <div class="text-right">
              <a href="/shop-cart" class="btn btn-default">View Cart</a>
              {{!-- <a href="shop-checkout.html" class="btn btn-primary">Checkout</a> --}}
            </div>
          </div>
        </div>
      </div>
      <!--END CART -->

      <!-- BEGIN NAVIGATION -->
      <div class="header-navigation">
        <ul>
          {{!-- Woman --}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-target="#" href="/category/woman">
              Woman

            </a>

            <!-- BEGIN DROPDOWN MENU -->
            <ul class="dropdown-menu">
              <li><a href="/category/woman/tops">Tops</a></li>
              <li><a href="/category/woman/dresses">Dresses</a></li>
              <li><a href="/category/woman/activewear">Activewear</a></li>
              <li><a href="/category/woman/accessories">Accessories</a></li>
              <li><a href="/category/woman/footwear">Footwear</a></li>
            </ul>
            <!-- END DROPDOWN MENU -->
          </li>

          {{!-- Men --}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-target="#" href="/category/man">
              Man

            </a>
            <ul class="dropdown-menu">
              <li><a href="/category/man/t-shirts">T-Shirts</a></li>
              <li><a href="/category/man/shirts">Shirts</a></li>
              <li><a href="/category/man/bottoms">Bottoms</a></li>
              <li><a href="/category/man/outterwear">Outterwear</a></li>
              <li><a href="/category/man/footwear">Footwear</a></li>
            </ul>
          </li>

          {{!-- Kids --}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-target="#" href="/category/kids">
              Kids
              
            </a>

            <ul class="dropdown-menu">
              <li><a href="/category/kids/sleepwear">Sleepwear</a></li>
              <li><a href="/category/kids/school">School</a></li>
              <li><a href="/category/kids/activity">Activity</a></li>
              <li><a href="/category/kids/summer">Summer</a></li>
            </ul>
          </li>

          {{!-- New --}}
          <li class="dropdown dropdown100 nav-catalogue">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
              New

            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="header-navigation-content">
                  <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="/product-detail"><img src="assets/pages/img/products/model4.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="/product-detail">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="/product-detail"><img src="assets/pages/img/products/model3.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="/product-detail">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="/product-detail"><img src="assets/pages/img/products/model7.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="/product-detail">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="/product-detail"><img src="assets/pages/img/products/model4.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="/product-detail">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>


          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
              Pages

            </a>

            <ul class="dropdown-menu">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="/category">Product categories</a></li>
              <li><a href="/product-detail">Product Page</a></li>
              {{!-- <li><a href="shop-shopping-cart-null.html">Shopping Cart (Null Cart)</a></li> --}}
              <li><a href="/shop-cart">Shopping Cart</a></li>
              {{!-- <li><a href="shop-checkout.html">Checkout</a></li> --}}
              {{!-- <li><a href="shop-about.html">About</a></li> --}}
              {{!-- <li><a href="shop-contacts.html">Contacts</a></li> --}}
              {{!-- <li><a href="shop-account.html">My account</a></li> --}}
              <li><a href="/mywishlist">My Wish List</a></li>
              {{!-- <li><a href="shop-goods-compare.html">Product Comparison</a></li> --}}
              {{!-- <li><a href="shop-standart-forms.html">Standart Forms</a></li> --}}
              {{!-- <li><a href="shop-faq.html">FAQ</a></li> --}}
              {{!-- <li><a href="shop-privacy-policy.html">Privacy Policy</a></li> --}}
              {{!-- <li><a href="shop-terms-conditions-page.html">Terms &amp; Conditions</a></li> --}}
            </ul>
          </li>


          <!-- BEGIN TOP SEARCH -->
          <li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>
            <div class="search-box">
              <form action="#">
                <div class="input-group">
                  <input type="text" placeholder="Search" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                  </span>
                </div>
              </form>
            </div>
          </li>
          <!-- END TOP SEARCH -->
        </ul>
      </div>
      <!-- END NAVIGATION -->
    </div>
  </div>
  <!-- Header END -->
