<div class="sidebar-filter margin-bottom-25">
	<h2>Filter</h2>
	<h3>Price</h3>
	<div class="radio-list">
		<label><input type="radio" name="price-range" value="0" checked> All product</label>
		<label><input type="radio" name="price-range" value="1"> $0 - $100</label>
		<label><input type="radio" name="price-range" value="2"> $100 - $200</label>
		<label><input type="radio" name="price-range" value="3"> Over $200</label>
	</div>
</div>