  <!-- BEGIN TOP BAR -->
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <!-- BEGIN TOP BAR LEFT PART -->
        <div class="col-md-6 col-sm-6 additional-shop-info">
          <ul class="list-unstyled list-inline">
            <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
            <!-- BEGIN CURRENCIES -->
            <li class="shop-currencies">
              <a href="javascript:void(0);">€</a>
              <a href="javascript:void(0);">£</a>
              <a href="javascript:void(0);" class="current">$</a>
            </li>
            <!-- END CURRENCIES -->
            <!-- BEGIN LANGS -->
            <li class="langs-block">
              <a href="javascript:void(0);" class="current">English </a>
              <div class="langs-block-others-wrapper">
                <div class="langs-block-others">
                  <a href="javascript:void(0);">French</a>
                  <a href="javascript:void(0);">Germany</a>
                  <a href="javascript:void(0);">Turkish</a>
                </div>
              </div>
            </li>
            <!-- END LANGS -->
          </ul>
        </div>
        <!-- END TOP BAR LEFT PART -->
        <!-- BEGIN TOP BAR MENU -->
        <div class="col-md-6 col-sm-6 additional-nav">
          <ul class="list-unstyled list-inline pull-right">
          {{#if user}}
            <li><a href="#">My Account</a></li>
            <li><a href="/#">My Wishlist</a></li>
            <li><a href="#">Checkout</a></li>
            <li><a href="/logout">Log out</a></li>
          {{else}}
            <li><a href="sign-in">Log In</a></li>
            <li><a href="sign-up">Sign Up</a></li>
          {{/if}}
          </ul>
        </div>
        <!-- END TOP BAR MENU -->
      </div>
    </div>
  </div>
  <!-- END TOP BAR -->

  <!-- BEGIN HEADER -->
  <div class="header">
    <div class="container">
      <a class="site-logo" href="/home"><img style="height: 40px;" src="assets/corporate/img/logos/logo-vezi-01.png"
          alt="Vezi Store"></a>

      <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

      <!-- BEGIN CART -->
      <!--{{#if user}}
      <div class="top-cart-block">
        <div class="top-cart-info">
          <a href="javascript:void(0);" class="top-cart-info-count">3 items</a>
          <a href="javascript:void(0);" class="top-cart-info-value">$1260</a>
        </div>
        <i class="fa fa-shopping-cart"></i>

        <div class="top-cart-content-wrapper">
          <div class="top-cart-content">
            <ul class="scroller" style="height: 250px;">
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
              <li>
                <a href="#"><img src="assets/pages/img/cart-img.jpg" alt="Rolex Classic Watch" width="37"
                    height="34"></a>
                <span class="cart-content-count">x 1</span>
                <strong><a href="#">Rolex Classic Watch</a></strong>
                <em>$1230</em>
                <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
              </li>
            </ul>
            <div class="text-right">
              <a href="#" class="btn btn-default">View Cart</a>
              {{!-- <a href="shop-checkout.html" class="btn btn-primary">Checkout</a> --}}
            </div>
          </div>
        </div>
      </div>
      {{/if}} -->
      <!--END CART -->

      <!-- BEGIN NAVIGATION -->
      <div class="header-navigation">
        <ul>
          {{!-- Woman --}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-target="#" href="/category/?cate=woman">
              Woman

            </a>

            <!-- BEGIN DROPDOWN MENU -->
            <ul class="dropdown-menu">
              <li><a href="/category/?cate=woman&type=tops">Tops</a></li>
              <li><a href="/category/?cate=woman&type=dresses">Dresses</a></li>
              <li><a href="/category/?cate=woman&type=activewear">Activewear</a></li>
              <li><a href="/category/?cate=woman&type=accessories">Accessories</a></li>
              <li><a href="/category/?cate=woman&type=footwear">Footwear</a></li>
            </ul>
            <!-- END DROPDOWN MENU -->
          </li>

          {{!-- Men --}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-target="#" href="/category/?cate=man">
              Man

            </a>
            <ul class="dropdown-menu">
              <li><a href="/category/?cate=man&type=t-shirts">T-Shirts</a></li>
              <li><a href="/category/?cate=man&type=shirts">Shirts</a></li>
              <li><a href="/category/?cate=man&type=bottoms">Bottoms</a></li>
              <li><a href="/category/?cate=man&type=outterwear">Outterwear</a></li>
              <li><a href="/category/?cate=man&type=footwear">Footwear</a></li>
            </ul>
          </li>

          {{!-- Kids --}}
          <li class="dropdown">
            <a class="dropdown-toggle" data-target="#" href="/category/?cate=kids">
              Kids
              
            </a>

            <ul class="dropdown-menu">
              <li><a href="/category/?cate=kids&type=sleepwear">Sleepwear</a></li>
              <li><a href="/category/?cate=kids&type=school">School</a></li>
              <li><a href="/category/?cate=kids&type=activity">Activity</a></li>
              <li><a href="/category/?cate=kids&type=summer">Summer</a></li>
            </ul>
          </li>

          {{!-- New --}}
          <li class="dropdown dropdown100 nav-catalogue">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
              New

            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="header-navigation-content">
                  <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="#"><img src="assets/pages/img/products/model4.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="#">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="#"><img src="assets/pages/img/products/model3.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="#">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="#"><img src="assets/pages/img/products/model7.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="#">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                      <div class="product-item">
                        <div class="pi-img-wrapper">
                          <a href="#"><img src="assets/pages/img/products/model4.jpg"
                              class="img-responsive" alt="Berry Lace Dress"></a>
                        </div>
                        <h3><a href="#">Berry Lace Dress</a></h3>
                        <div class="pi-price">$29.00</div>
                        <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>

          {{!-- Page menu start --}}
          {{!-- <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
              Pages

            </a>

            <ul class="dropdown-menu">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="#">Product categories</a></li>
              <li><a href="#">Product Page</a></li>
              <li><a href="shop-shopping-cart-null.html">Shopping Cart (Null Cart)</a></li>
              <li><a href="#">Shopping Cart</a></li>
              <li><a href="shop-checkout.html">Checkout</a></li>
              <li><a href="shop-about.html">About</a></li>
              <li><a href="shop-contacts.html">Contacts</a></li>
              <li><a href="shop-account.html">My account</a></li>
              <li><a href="#">My Wish List</a></li>
              <li><a href="shop-goods-compare.html">Product Comparison</a></li>
              <li><a href="shop-standart-forms.html">Standart Forms</a></li>
              <li><a href="shop-faq.html">FAQ</a></li>
              <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
              <li><a href="shop-terms-conditions-page.html">Terms &amp; Conditions</a></li>
            </ul>
          </li> --}}
          {{!-- Page menu end --}}


          <!-- BEGIN TOP SEARCH -->
          <li class="menu-search">
            <span class="sep"></span>
            <i class="fa fa-search search-btn"></i>
            <div class="search-box">
              <form action="/search-product" method="post" id="search-info">
                <div class="input-group">
                  <input type="text" placeholder="Search" class="form-control" id="search" name="search">
                  <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" form="search-info">Search</input>
                  </span>
                </div>
              </form>
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  const searchForm = document.getElementById('search-info');

                  searchForm.addEventListener('submit', function (event) {
                      event.preventDefault(); // Ngăn chặn hành động mặc định của biểu mẫu

                      // Lấy giá trị tìm kiếm từ ô input
                      const searchTerm = document.getElementById('search').value.trim();

                      // Kiểm tra nếu người dùng không nhập gì thì bỏ qua
                      if (!searchTerm) {
                          return;
                      }
                      else {
                        window.location.href = `/search-product?term=${searchTerm}`;
                      }
                      
                  });
              });
              </script>
            </div>
          </li>
          <!-- END TOP SEARCH -->
        </ul>
      </div>
      <!-- END NAVIGATION -->
    </div>
  </div>
  <!-- Header END -->
