<div class="title-wrapper">
	<div class="container">
		<div class="container-inner">
			<h1><span>MEN</span> CATEGORY</h1>
			<em>Over 4000 Items are available here</em>
		</div>
	</div>
</div>


<div class="main">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="">Store</a></li>
			<li class="active">Men category</li>
		</ul>
		<!-- BEGIN SIDEBAR & CONTENT -->
		<div class="row margin-bottom-40">
			<div class="sidebar col-md-3 col-sm-5">
			{{> sidebar}}
			{{!-- {{> filterSidebar}} --}}
			<h2>Similar products</h2>
			{{> productSidebar}}
			<h2>Bestsellers</h2>
			{{> productSidebar}}

			</div>


			<!-- BEGIN CONTENT -->
			<div class="col-md-9 col-sm-7">
				<!-- BEGIN PRODUCT LIST -->
				<div class="row">
					{{#each productData}}
					{{#with this}}
					<div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-40">
						{{> productItem}}
					</div>
					{{/with}}
					{{/each}}
				</div>

				{{!-- <div class="row product-list">
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model6.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress 2</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
				</div> --}}
				{{!-- <div class="row product-list">
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model4.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model5.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
							<div class="sticker sticker-new"></div>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model3.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
				</div> --}}
				{{!-- <div class="row product-list">
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model7.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model7.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
					<!-- PRODUCT ITEM START -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="product-item">
							<div class="pi-img-wrapper">
								<img src="assets/pages/img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
								<div>
									<a href="assets/pages/img/products/model2.jpg" class="btn btn-default fancybox-button">Zoom</a>
									<a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
								</div>
							</div>
							<h3><a href="/product-detail">Berry Lace Dress</a></h3>
							<div class="pi-price">$29.00</div>
							<a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
							<div class="sticker sticker-sale"></div>
						</div>
					</div>
					<!-- PRODUCT ITEM END -->
				</div> --}}
				<!-- END PRODUCT LIST -->
				<!-- BEGIN PAGINATOR -->
				{{#if pages}}
				<div class="row">
					<div class="col-md-12 col-sm-12 justify-content-end">
						<ul class="pagination pull-right">
							{{!-- <li><a href="javascript:;">&laquo;</a></li> --}}
							{{#each pages}}
							<li><a href="{{this.url}}">{{this.page}}</a></li>
							{{/each}}
							{{!-- <li><a href="javascript:;">&raquo;</a></li> --}}
						</ul>
					</div>
				</div>

				{{/if}}
				<!-- END PAGINATOR -->
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END SIDEBAR & CONTENT -->
	</div>
</div>