{{> spinner}}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
</style>
<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">CREATE PRODUCT</h6>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Thumbnail</label>
            <input required class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        
        <form class="row mb-3" action="/product-create" method="post">
            <label for="name" class="col-sm-2 col-form-label">Product name</label>
            <input required type="text" class="form-control col-sm-10" id="name" name="name" placeholder="a">

            
            <div class="row justify-content-center">
                <input class="btn btn-success col-4 align-self-center" type="submit"></input>
            </div>

            {{!-- <label for="price" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input required type="number" class="form-control" id="price" name="price">
            </div>

            <label for="discount" class="col-sm-2 col-form-label">Discount</label>
            <div class="col-sm-10">
                <input required type="number" class="form-control" id="discount" name="discount">
            </div>

            <label class="col-sm-2 col-form-label">Size</label>
            <div class="col-sm-10">
                <div class="row text-start">
                    <div class="col">
                        <input type="checkbox" class="form-check-input me-2">
                        <label class="form-check-label me-4">L</label>
                        <input type="checkbox" class="form-check-input me-2">
                        <label class="form-check-label me-4">M</label>
                        <input type="checkbox" class="form-check-input me-2">
                        <label class="form-check-label me-4">S</label>
                    </div>
                </div>
            </div>

            <label for="stock" class="col-sm-2 col-form-label">Availability</label>
            <div class="col-sm-10">
                <input required type="number" class="form-control" id="stock" name="stock">
            </div>

            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <select required class="form-select form-control"
                    aria-label="Floating label select example" name="category">
                    <option selected>Choose category</option>
                    <option value="1">Woman</option>
                    <option value="2">Man</option>
                    <option value="3">Kid</option>
                </select>
            </div>

            <label for="subcategory" class="col-sm-2 col-form-label">Subcategory</label>
            <div class="col-sm-10">
                <select required class="form-select form-control"
                    aria-label="Floating label select example" name="subcategory">
                    <option selected>Choose subcategory</option>
                    <option value="1">T-Shirts</option>
                    <option value="2">Shirts</option>
                    <option value="3">Bottoms</option>
                    <option value="4">Outterwear</option>
                    <option value="5">Footwear</option>
                    <option value="6">Tops</option>
                    <option value="7">Dresses</option>
                    <option value="8">Accessories</option>
                    <option value="9">Sleepwear</option>
                    <option value="10">School</option>
                    <option value="11">Activity</option>
                    <option value="12">Summer</option>
                </select>
            </div>

            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded">
                    <h6 class="mb-4">DESCRIPTION</h6>
                    <div class="form-floating">
                        <textarea requried class="form-control" placeholder="Leave a comment here"
                            id="description" name="description" style="height: 150px;"></textarea>
                        <label for="description" class="form-control-label">Description here</label>
                    </div>
                </div>
            </div>

            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded">
                    <h6 class="mb-4">INFORMATION</h6>
                    <div class="form-floating">
                        <textarea required class="form-control" placeholder="Leave a comment here"
                            id="information" name="information" style="height: 150px;"></textarea>
                        <label for="information" class="form-control-label">Information here</label>
                    </div>
                </div>
            </div> --}}

        </form>
        

    </div>
</div>

