<link rel="stylesheet" href="assets/pages/css/profile.css" type="text/css"/>

<div class="main">
	<div class="container">
		<!-- BEGIN SIDEBAR & CONTENT -->
		<div class="row margin-bottom-40">
			<!-- BEGIN SIDEBAR -->
			<div class="sidebar col-md-3 col-sm-5">
				<ul class="list-group margin-bottom-25 sidebar-menu">
					<li class="list-group-item clearfix">
						<a href="/user/profile"><i class="fa-solid fa-user"></i> Your profile</a>
					</li>
					<li class="list-group-item clearfix">
						<a href="javascript:;"><i class="fa-solid fa-shirt"></i> Order history</a>
					</li>
					<li class="list-group-item clearfix active">
						<a href="/user/profile/change-password"><i class="fa-solid fa-key"></i> Change your password</a>
					</li>
				</ul>
			</div>
			<!-- END SIDEBAR -->

			<!-- BEGIN CONTENT -->
			<div class="col-md-9 col-sm-7">
				<div class="content-page">
					<form id="user-password" class="" action="">

						<div class="profile-header row">
							<img src="https://ucarecdn.com/{{picture}}/-/preview/500x500/-/format/auto/" alt="" class="img-circle" onerror="this.src='https://ucarecdn.com/c64123e4-8e93-402d-805b-4e5fbae247ca/-/preview/500x500/-/format/auto/'">
							<h1>{{user.username}}</h1>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h1 class="text-danger"></h1>
							</div>
						</div>

						<div class="profile-body container-fluid">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="new-password">New password</label>
											<input required type="password" class="form-control" id="new-password" onchange="checkPassword()">
										</div>

										<div class="form-group">
											<label for="confirm-password">Confirm password</label>
											<input required type="password" class="form-control" id="confirm-password" onchange="checkPassword()">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label" for="current-password">Current password</label>
											<input required type="password" class="form-control" id="current-password">
										</div>

										<div class="form-group">
											<input type="checkbox" id="show-password">
											<label class="form-check-label" for="show-password">Show password</label>
										</div>
									</div>

								</div>

							<button id="save" class="btn btn-primary pull-right">Save <i class="fa-solid fa-floppy-disk"></i></button>
						</div>
					</form>
				</div>
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END SIDEBAR & CONTENT -->
	</div>
</div>

<script>
	const resultDiv = document.querySelector(".text-danger");

	function checkPasswordComplexity(password) {
		const minLength = 8;
		const maxLength = 20;

		if (password.length < minLength) {
				return "Password should be at least " + minLength + " characters long.";
		}

		if (password.length > maxLength) {
				return "Password should not exceed " + maxLength + " characters.";
		}

		if (!/[A-Z]/.test(password)) {
				return "Password should contain at least one uppercase letter.";
		}

		if (!/[a-z]/.test(password)) {
				return "Password should contain at least one lowercase letter.";
		}

		if (!/\d/.test(password)) {
				return "Password should contain at least one digit.";
		}

		if (/\s/.test(password)) {
				return "Password should not contain spaces.";
		}

		return true;
}

	const checkPassword = () => {
			const password = document.querySelector('#new-password');
			const confirm = document.querySelector('#confirm-password');

			if(checkPasswordComplexity(password.value) !== true) {
					resultDiv.textContent = checkPasswordComplexity(password.value);
					return;
			}


			if (password.value !== confirm.value) {
					resultDiv.textContent = 'Passwords do not match';
			} else {
					resultDiv.textContent = '';
			}
	}

	document.addEventListener("DOMContentLoaded", () => {
		document.querySelector("#user-password").addEventListener("submit", (e) => {
			e.preventDefault();
		});

		document.querySelector('#show-password').addEventListener('click', function() {
			const current = document.querySelector('#current-password');
			const password = document.querySelector('#new-password');
			const confirm = document.querySelector('#confirm-password');
			if (this.checked) {
					password.type = 'text';
					confirm.type = 'text';
					current.type = 'text';
			} else {
					password.type = 'password';
					confirm.type = 'password';
					current.type = 'password';
			}
	});

		document.querySelector("#save").addEventListener("click", async () => {
			document.querySelectorAll("input").forEach((input) => {
				input.setAttribute("readonly", "");
			});

			document.querySelector("#save").classList.add("disabled");
			const reponse = await fetch("/user/profile/change-password", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					current: document.querySelector("#current-password").value,
					new: document.querySelector("#new-password").value
				}),
			})

			const result = await reponse.json();

			document.querySelector("#save").classList.remove("disabled");
			if(result.success) {
				document.querySelectorAll("input").forEach((input) => {
					input.removeAttribute("readonly");
				});
				resultDiv.classList.remove("text-danger");
				resultDiv.classList.add("text-success");
				resultDiv.textContent = "Password changed successfully";
			} else {
				document.querySelectorAll("input").forEach((input) => {
					input.removeAttribute("readonly");
					input.value = "";
				});
				resultDiv.textContent = result.message;
			}

		});
	});
</script>