<link rel="stylesheet" href="assets/pages/css/profile.css" type="text/css"/>

<div class="main">
	<div class="container">
		<!-- BEGIN SIDEBAR & CONTENT -->
		<div class="row margin-bottom-40">
			<!-- BEGIN SIDEBAR -->
			<div class="col-md-3 col-sm-5">
				<a href="/user/order"><h2>Back</h2></a>
			</div>
			<!-- END SIDEBAR -->

			<!-- BEGIN CONTENT -->
			<div class="col-md-12 col-sm-12">
				<h1>Order detail</h1>
				<div class="goods-page">
					<div class="goods-data clearfix">
						<div class="table-wrapper-responsive">
							<table id="cart-items" summary="Shopping cart">
								
							</table>
						</div>

						<div class="shopping-total">
							<ul>
								<li>
									<em>Total order</em>
									<strong id="total-order" class="price"><span>$</span>0</strong>
								</li>
								<li>
									<em>Shipping cost</em>
									<strong id="shipping-cost" class="price"><span>$</span>0</strong>
								</li>
								<li class="shopping-total-price">
									<em>Total</em>
									<strong id="total" class="price"><span>$</span>0</strong>
								</li>
							</ul>
							<hr>
							<ul>
								<li>
									<em>Shipping status</em>
									<strong id="shipping"></strong>
								</li>
							</ul>
						</div>


					</div>
				</div>
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END SIDEBAR & CONTENT -->
	</div>
</div>

<script>

</script>