<link rel="stylesheet" href="assets/pages/css/profile.css" type="text/css"/>

<div class="main">
	<div class="container">
		<!-- BEGIN SIDEBAR & CONTENT -->
		<div class="row margin-bottom-40">
			<!-- BEGIN SIDEBAR -->
			<div class="sidebar col-md-3 col-sm-5">
				<ul class="list-group margin-bottom-25 sidebar-menu">
					<li class="list-group-item clearfix">
						<a href="/user/profile"><i class="fa-solid fa-user"></i> Your profile</a>
					</li>
					<li class="list-group-item clearfix active">
						<a href="/user/order"><i class="fa-solid fa-shirt"></i> Order history</a>
					</li>
					<li class="list-group-item clearfix">
						<a href="/user/profile/change-password"><i class="fa-solid fa-key"></i> Change your password</a>
					</li>
				</ul>
			</div>
			<!-- END SIDEBAR -->

			<!-- BEGIN CONTENT -->
			<div class="col-md-9 col-sm-7">
				<div class="content-page">
					<table class="table table-responsive table-bordered">
						<tbody>
							<tr>
								<th>Order ID</th>
								<th>Date ordered</th>
								<th>Status</th>
								<th>Total</th>
								<th>More detail</th>
							</tr>
						</tbody>
						
						<tbody id="order-table">

						</tbody>
					</table>
				</div>
			</div>
			<!-- END CONTENT -->

			<!-- BEGIN ORDER DETAIL -->
			<div id="order-detail-container" class="col-md-12 col-sm-12" style="display:none;">
				<h1>Order detail</h1>
				<div class="goods-page">
					<div class="goods-data clearfix">
						<div class="table-wrapper-responsive">
							<table id="cart-items" summary="Shopping cart">
								
							</table>
						</div>

						<div class="shopping-total">
							<ul>
								<li>
									<em>Total order</em>
									<strong id="total-order" class="price"><span>$</span>0</strong>
								</li>
								<li>
									<em>Shipping cost</em>
									<strong id="shipping-cost" class="price"><span>$</span>0</strong>
								</li>
								<li class="shopping-total-price">
									<em>Total</em>
									<strong id="total" class="price"><span>$</span>0</strong>
								</li>
							</ul>
							<hr>
							<ul>
								<li>
									<em>Shipping status</em>
									<strong id="shipping"></strong>
								</li>
							</ul>
						</div>


					</div>
				</div>
			</div>
			<!-- END ORDER DETAIL -->
		</div>
		<!-- END SIDEBAR & CONTENT -->
	</div>
</div>

<script>
	const loadOrderDetail = async (id) => {
		const orderDetailContainer = document.querySelector('#order-detail-container');
		orderDetailContainer.style.display = 'block';

		const result = await fetch(`/user/order/${id}`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			}
		}).then(res => res.json());
		console.log(result);

		const products = result.order.item;
		const cartHtml = document.querySelector('#cart-items');
		cartHtml.innerHTML = 
		`<tr>
			<th class="checkout-image">Image</th>
			<th class="checkout-model">Name</th>
			<th class="checkout-quantity">Quantity</th>
			<th class="checkout-price">Price</th>
			<th class="checkout-total">Total</th>
		</tr>`;

		const cartItemHtml = await fetch('./assets/checkoutItem.html')
		const cartItemTemplateSrc = await cartItemHtml.text();
		const cartTemplate = Handlebars.compile(cartItemTemplateSrc);
		
		products.map(item => {
			cartHtml.innerHTML += cartTemplate(item);
		});

		document.querySelector('#total-order').innerHTML = `$${result.order.total}`;
		let shippingCost;
		if(result.order.shipping == "slow")
			shippingCost = 3;
		else
			shippingCost = 6;
		document.querySelector('#shipping-cost').innerHTML = `$${shippingCost}`;
		document.querySelector('#total').innerHTML = `$${result.order.total + shippingCost}`;
		document.querySelector('#shipping').innerHTML = result.order.status;
	}
	const sendPostRequest = (id, button) => {
		fetch(`/user/order/done/${id}`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			}
		}).then(res => res.json())
      .then(data => {
        // Update the button text to "Done" after successful POST
        button = 'Done';
      })
      .catch(error => {
        console.error('Error:', error);
        // Handle errors if necessary
      });
	}
	document.addEventListener('DOMContentLoaded', async () => {
		const result = await fetch('/user/order', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			}
		}).then(res => res.json());

		const table = document.querySelector('#order-table');



		result.orders.forEach(order => {
			const orderID = order._id.slice(-6).toUpperCase();
			const date = new Date(order.createdAt).toLocaleDateString('vn-VN');
			const status = order.status;
			const total = order.total;

			let statusRow;
			if(status != "Shipping")
				statusRow = `<td>${status}</td>`
			else {
				statusRow = `<td><button class="btn btn-primary" onclick="sendPostRequest('${order._id}', this)">Received</button></td>`
			}

			const row = 
			`
				<tr>
					<td><strong>${orderID}</strong></td>
					<td>${date}</td>
					${statusRow}
					<td>${total} $</td>
					<td><strong><a onclick="loadOrderDetail('${order._id}')">View</a></strong></td>
				</tr>
			`;
			table.innerHTML += row;
		});
	});
</script>